faiss-cpu
google-generativeai
langchain
langchain-community
langchain-community==0.3.24
langchain-huggingface
langchain-openai
langchain==0.3.25
langchain_huggingface==0.2.0
langchain_openai==0.3.21
nltk
openai
pandas
scikit-learn
tqdm
transformers
jupyterlab
lxml
matplotlib
