langchain==0.3.25
langchain-community==0.3.24
langchain_huggingface==0.2.0
langchain_openai==0.3.21
google-generativeai
openai
scikit-learn
transformers
lxml
pandas
nltk
tqdm
matplotlib
faiss-cpu
duckdb
jupyterlab